body {
  background-color: #010001;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding-top: 53px;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  width: 90%;
  margin: auto;
}
.list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.item {
  margin-left: 10px;
  margin-right: 10px;
}

.item-link {
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.main-nav .item-link:hover {
  border-bottom: 2px solid #fff;
}

.secondary-nav > ul > li > a {
  color: #808080;
}

.main {
  text-align: center;
  margin-top: 120px;
}

.title {
  color: #ffffff;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-transform: lowercase;
  max-width: 268px;
  margin: auto;
  margin-top: 26px;
}

.description:after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background-color: #fff;
  margin: auto;
  margin-top: 28px;
}

.video {
  max-width: 1230px;
  width: 90%;
  height: 750px;
  margin: auto;
}

.features {
  position: relative;
  max-width: 1230px;
  width: 90%;
  margin: auto;
  padding: 100px 0;
}

.features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 45px;
}

.table {
  color: #fff;
  padding-bottom: 50px;
}

.table-column {
  width: 300px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 179.69%;
  border: 1px solid #000000;
}

.features-text {
  max-width: 490px;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #ffffff;
}

.rocket {
  position: absolute;
  max-width: 370px;
  top: 50px;
  right: 0;
  z-index: 99;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 507px;
  margin-bottom: 120px;
}

.footer-nav {
  margin-top: 43px;
  margin-bottom: 28px;
}

.footer-nav .item-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.footer-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
}

.email-link {
  color: #808080;
  text-decoration: none;
}

.button {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  min-width: 260px;
  min-height: 60px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header .logo {
    margin-bottom: 20px;
  }

  .header .main-nav {
    margin-bottom: 20px;
  }

  .rocket {
    max-width: 180px;
  }

  .video {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .rocket {
    position: static;
    margin-bottom: 30px;
  }
  .table {
    margin-bottom: 0;
  }
  .table-column {
    font-size: 14px;
    width: 150px;
  }
  .video {
    width: 100%;
  }
  .footer-nav .list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footer-nav .item {
    margin-bottom: 10px;
  }
  .footer {
    text-align: center;
  }
}
